.side_menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20vw;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 2rem;
}

.side_menu_list {
  height: auto;
  width: 100%;
  padding: 0;
  margin-top: 2rem;
}

.side_menu_list .row {
  width: 100%;
  height: 60px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #999999;
}

.side_menu_list .row:hover {
  cursor: pointer;
  background-color: #f8eadd;
}

a:link {
  text-decoration: none;
}

a:active {
  background-color: #faefe6;
  color: #d47e36;
  position: relative;
}
.side_menu_list #active {
  background-color: #faefe6;
  color: #d47e36;
  position: relative;
}
.side_menu_list #active:after {
  content: "";
  position: absolute;
  right: 0;
  background: #d47e36;
  height: 60%;
  width: 5px;
  border-radius: 5px 0px 0px 5px;
}

.row .icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row .title {
  flex: 70%;
}

.datePickerContainer {
  z-index: 3;
  display: flex;
  align-items: left;
  flex-direction: column;
  font-size: 16px;
  color: #a3a3a3;
  position: absolute;
  top: 42vh;
  left: 1.8vw;
}

.datePicker {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  width: 15vw;
  margin-top: 2vh;
}

.dateRangeTitle {
  font-size: 20px;
  font-weight: 600;
  padding-left: 0.5vw;
}

.labelWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1vh;
}

.titles {
  font-size: 14px;
  margin: 0 0.5rem;
  width: 5vw;
  padding-top: 1vh;
}
