.comments_container {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 24px;
  height: 35vh;
  width: 35vw;
  position: absolute;
  right: 0;
  margin: 4vh 4vw 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title_feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #262626;
}

.title_feedback a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #d2782d;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}
.feedback {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
  flex-direction: row;
  border-bottom: 1px solid #e6e6e6;
}
.feedback_promoter {
  padding-left: 0.5rem;
  border-left: 5px solid #5fb566;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.feedback_detractor {
  padding-left: 0.5rem;
  border-left: 5px solid #f36158;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.feedback_neutral {
  padding-left: 0.5rem;

  border-left: 5px solid #e1aa51;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.feedback_score {
  padding-top: 0.25rem;
  padding-left: 0.5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #404040;
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}
.feedback_empty {
  color: rgb(212, 126, 53);
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}
.promoter {
  color: #5fb566;
}
.detractor {
  color: #f36158;
}
.neutral {
  color: #e1aa51;
}
.feedback_display {
  padding-top: 0.25rem;
  display: flex;
  width: 60%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #404040;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.date_display {
  padding-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  text-align: right;

  letter-spacing: -0.02em;
  color: #b3b3b3;
}
