.chart_container {
  position: absolute;
  width: 1047px;
  height: 483px;
  left: 0px;
  top: 0px;
  margin-left: 19rem;
  margin-top: 4rem;

  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
