* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title_commentsPage {
  width: 146px;
  height: 44px;
  padding-right: 50rem;
  top: 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #262626;
}
.listMenu_button {
  display: flex;
  text-decoration: none;
  margin-top: 2rem;
  margin-bottom: 18px;
  padding-left: 80px;
}
button {
  border: none;
  background: white;
  font-size: 12px;
  margin-right: 60px;
}
.center_data {
  height: inherit;
  width: 1056px;
  height: 812px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 256px;
  flex-direction: column;
}

.nextPage {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 23px;
  width: 90%;
  align-items: center;
}

.pipe {
  transform: rotate(90deg) scale(2);
  margin: 15px;
}

.arrows {
  width: 7.1px;
  height: 15.84px;
  margin: 21px;
  transform: scale(1.2);
}

.DataPageWrapper {
  width: 75%;
  height: 630px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  display: flex;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

table {
  position: absolute;
  width: inherit;
}

thead,
h3 {
  weight: 500 Medium;
  font-size: 16px;
}

thead tr {
  height: 40px;
}

thead tr th:nth-child(1),
thead tr th:nth-child(2) {
  width: 120px;
}

thead tr th:nth-child(3) {
  width: 110px;
}

thead tr th:nth-child(4) {
  max-width: 561px;
}

th,
td {
  position: static;
  text-align: left;
  padding-left: 24px;
  font-size: 16px;
}

tbody tr {
  position: static;
  color: #666666;
  white-space: nowrap;
  height: 56px;
}

tbody tr:nth-child(odd) {
  background: #fbf2ea;
}

tbody tr:nth-child(even) {
  background: #ffffff;
}

tbody tr td:nth-child(4) {
  padding-right: 24px;
}
