.IntegrationPage {
  width: 80vw;
  height: 94vh;
  margin-left: 20vw;
  margin-top: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-style: normal;
  line-height: 130%;
  letter-spacing: -0.02em;
  text-align: center;
}

.hOne {
  font-weight: 500;
  font-size: 30px;
  color: #262626;
  margin-bottom: 2vh;
}

.instructions {
  margin: 4vh;
}

.heightWidth {
  color: #d2782d;
}
.integration_btn {
  display: flex;
}
.javascript_btn {
  width: 8rem;
  height: 2rem;
  margin: 1rem;
  background: #fff;
  border: 1px solid #d2782d;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  color: #d2782d;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.react_btn {
  width: 8rem;
  height: 2rem;
  margin: 1rem;
  background: #fff;
  border: 1px solid #d2782d;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  color: #d2782d;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.react_btn:hover {
  background: #cda686;
}

.react_btn:active {
  background: #b0550b;
}
.javascript_btn:hover {
  background: #cda686;
}

.javascript:active {
  background: #b0550b;
}

.box {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px;
  width: 60vw;
  text-align: center;
  margin: 2vh 10vw;
  white-space: nowrap;
  font-weight: 400;
  font-size: 16px;
  color: #595959;
  overflow: scroll;
}

.copy {
  height: 2.5rem;
  width: 12rem;
  background: #d2782d;
  border: 1px solid #d2782d;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.copy:hover {
  background: #cda686;
}

.copy:active {
  background: #b0550b;
}
