.survey_status_container {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 36px;
  padding-top: 20px;
  height: 50vh;
  width: 72vw;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 2rem 4vw 1vh 4vw;
}

.title {
  display: flex;
  align-items: center;
}

.inputArea {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #262626;
}
.input {
  width: 4vw;
}
select {
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #d2782d;
  border: 1px solid rgba(210, 120, 45, 0.45) !important;
  height: 3.5vh;
  border-radius: 5px;
  padding: 0.2rem;
}

select:focus {
  box-shadow: 0 0 3px rgba(210, 120, 45, 0.15) !important;
  -moz-box-shadow: 0 0 3px rgba(210, 120, 45, 0.15) !important;
  -webkit-box-shadow: 0 0 3px rgba(210, 120, 45, 0.15) !important;
  outline-offset: 0px !important;
  outline: none !important;
}
